@model IEnumerable<CreatureArena.Models.Queries.BossCreatures>
@{
    ViewBag.Title = "Creature Arena Home";
}

<div class="row">
    <div class="jumbotron" style="margin-top:20px">
        <div class="row">
            <div class="col col-lg-4">
                <img src="~/Images/TheArena.png" class="img-circle" width="300" height="300">
            </div>
            <div class="col col-lg-8">
                <p id="jumboText">Welcome to the Creature Arena!</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding:35px">
    <div class="row">
        <div class="container">
            <div class="col col-12">
                <h4 style="text-align:center">
                    This is where the Summary of how the game works will be shown. It will explain what the game is and how you play.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                </h4>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <h1>Bosses</h1>
        <hr />
    </div>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row pt-3 pb-3">
                <div class="col col-lg-4">
                        <img src="@Url.Content("~/Images/" + item.CreaturePic)" alt="@item.CreatureName"/>
                </div>
                <div class="col col-lg-8">
                    <div>
                        <h5>@item.CreatureName</h5>
                    </div>
                    <div>
                        <p>@item.CreatureInfo</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
